// change the theme
$theme-colors: (
  "primary": #ffc800,
  "danger": #e83151,
  "dark": #0d0f45,
  "blue": #0eb1d2,
);

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";

h1,
h2,
h3,
h4,
h5 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #2c292b;
}
