.login-form {
  position: relative;
}

.login-form::after {
  content: url(../dumbels.png);
  position: absolute;
  top: 170px;
  left: -250px;
  opacity: 0.7;
  z-index: -1;
}

.error {
  border: 2px solid #ff6565 !important;
}

.error-message {
  color: #ff6565;
  position: absolute;
  font-size: 0.8em;
  padding-bottom: 25px;
}

@media screen and (max-width: 1220px) {
  .login-form::after {
    content: "";
  }
}
